In [206]:
import pandas as pd
import seaborn as sns

In [207]:
train = pd.read_csv('./data/train.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [208]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [209]:
train['Age'] = train['Age'].fillna(train['Age'].median())
train['Embarked'] = train['Embarked'].fillna('S')

In [210]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       891 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [211]:
train = pd.get_dummies(train, columns=['Sex', 'Embarked'])

In [212]:
x_train = train[ ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex_male', 'Embarked_C', 'Embarked_Q']]
y_train = train['Survived']

In [213]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
Pclass        891 non-null int64
Age           891 non-null float64
SibSp         891 non-null int64
Parch         891 non-null int64
Fare          891 non-null float64
Sex_male      891 non-null uint8
Embarked_C    891 non-null uint8
Embarked_Q    891 non-null uint8
dtypes: float64(2), int64(3), uint8(3)
memory usage: 37.5 KB

In [214]:
x_train.head()

   Pclass   Age  SibSp  Parch     Fare  Sex_male  Embarked_C  Embarked_Q
0       3  22.0      1      0   7.2500         1           0           0
1       1  38.0      1      0  71.2833         0           1           0
2       3  26.0      0      0   7.9250         0           0           0
3       1  35.0      1      0  53.1000         0           0           0
4       3  35.0      0      0   8.0500         1           0           0

In [215]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
Pclass        891 non-null int64
Age           891 non-null float64
SibSp         891 non-null int64
Parch         891 non-null int64
Fare          891 non-null float64
Sex_male      891 non-null uint8
Embarked_C    891 non-null uint8
Embarked_Q    891 non-null uint8
dtypes: float64(2), int64(3), uint8(3)
memory usage: 37.5 KB

In [216]:
x_train

     Pclass   Age  SibSp  Parch      Fare  Sex_male  Embarked_C  Embarked_Q
0         3  22.0      1      0    7.2500         1           0           0
1         1  38.0      1      0   71.2833         0           1           0
2         3  26.0      0      0    7.9250         0           0           0
3         1  35.0      1      0   53.1000         0           0           0
4         3  35.0      0      0    8.0500         1           0           0
5         3  28.0      0      0    8.4583         1           0           1
6         1  54.0      0      0   51.8625         1           0           0
7         3   2.0      3      1   21.0750         1           0           0
8         3  27.0      0      2   11.1333         0           0           0
9         2  14.0      1      0   30.0708         0           1           0
10        3   4.0      1      1   16.7000         0           0           0
11        1  58.0      0      0   26.5500         0           0           0
12        3  20.0      0      0    8.0500         1           0           0
13        3  39.0      1      5   31.2750         1           0           0
14        3  14.0      0      0    7.8542         0           0           0
15        2  55.0      0      0   16.0000         0           0           0
16        3   2.0      4      1   29.1250         1           0           1
17        2  28.0      0      0   13.0000         1           0           0
18        3  31.0      1      0   18.0000         0           0           0
19        3  28.0      0      0    7.2250         0           1           0
20        2  35.0      0      0   26.0000         1           0           0
21        2  34.0      0      0   13.0000         1           0           0
22        3  15.0      0      0    8.0292         0           0           1
23        1  28.0      0      0   35.5000         1           0           0
24        3   8.0      3      1   21.0750         0           0           0
25        3  38.0      1      5   31.3875         0           0           0
26        3  28.0      0      0    7.2250         1           1           0
27        1  19.0      3      2  263.0000         1           0           0
28        3  28.0      0      0    7.8792         0           0           1
29        3  28.0      0      0    7.8958         1           0           0
..      ...   ...    ...    ...       ...       ...         ...         ...
861       2  21.0      1      0   11.5000         1           0           0
862       1  48.0      0      0   25.9292         0           0           0
863       3  28.0      8      2   69.5500         0           0           0
864       2  24.0      0      0   13.0000         1           0           0
865       2  42.0      0      0   13.0000         0           0           0
866       2  27.0      1      0   13.8583         0           1           0
867       1  31.0      0      0   50.4958         1           0           0
868       3  28.0      0      0    9.5000         1           0           0
869       3   4.0      1      1   11.1333         1           0           0
870       3  26.0      0      0    7.8958         1           0           0
871       1  47.0      1      1   52.5542         0           0           0
872       1  33.0      0      0    5.0000         1           0           0
873       3  47.0      0      0    9.0000         1           0           0
874       2  28.0      1      0   24.0000         0           1           0
875       3  15.0      0      0    7.2250         0           1           0
876       3  20.0      0      0    9.8458         1           0           0
877       3  19.0      0      0    7.8958         1           0           0
878       3  28.0      0      0    7.8958         1           0           0
879       1  56.0      0      1   83.1583         0           1           0
880       2  25.0      0      1   26.0000         0           0           0
881       3  33.0      0      0    7.8958         1           0           0
882       3  22.0      0      0   10.5167         0           0           0
883       2  28.0      0      0   10.5000         1           0           0
884       3  25.0      0      0    7.0500         1           0           0
885       3  39.0      0      5   29.1250         0           0           1
886       2  27.0      0      0   13.0000         1           0           0
887       1  19.0      0      0   30.0000         0           0           0
888       3  28.0      1      2   23.4500         0           0           0
889       1  26.0      0      0   30.0000         1           1           0
890       3  32.0      0      0    7.7500         1           0           1

[891 rows x 8 columns]

In [217]:
y_train.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [218]:
# from sklearn.preprocessing import StandardScaler
# scaler = StandardScaler()
# x_train = scaler.fit_transform(x_train)

In [219]:
x_train

     Pclass   Age  SibSp  Parch      Fare  Sex_male  Embarked_C  Embarked_Q
0         3  22.0      1      0    7.2500         1           0           0
1         1  38.0      1      0   71.2833         0           1           0
2         3  26.0      0      0    7.9250         0           0           0
3         1  35.0      1      0   53.1000         0           0           0
4         3  35.0      0      0    8.0500         1           0           0
5         3  28.0      0      0    8.4583         1           0           1
6         1  54.0      0      0   51.8625         1           0           0
7         3   2.0      3      1   21.0750         1           0           0
8         3  27.0      0      2   11.1333         0           0           0
9         2  14.0      1      0   30.0708         0           1           0
10        3   4.0      1      1   16.7000         0           0           0
11        1  58.0      0      0   26.5500         0           0           0
12        3  20.0      0      0    8.0500         1           0           0
13        3  39.0      1      5   31.2750         1           0           0
14        3  14.0      0      0    7.8542         0           0           0
15        2  55.0      0      0   16.0000         0           0           0
16        3   2.0      4      1   29.1250         1           0           1
17        2  28.0      0      0   13.0000         1           0           0
18        3  31.0      1      0   18.0000         0           0           0
19        3  28.0      0      0    7.2250         0           1           0
20        2  35.0      0      0   26.0000         1           0           0
21        2  34.0      0      0   13.0000         1           0           0
22        3  15.0      0      0    8.0292         0           0           1
23        1  28.0      0      0   35.5000         1           0           0
24        3   8.0      3      1   21.0750         0           0           0
25        3  38.0      1      5   31.3875         0           0           0
26        3  28.0      0      0    7.2250         1           1           0
27        1  19.0      3      2  263.0000         1           0           0
28        3  28.0      0      0    7.8792         0           0           1
29        3  28.0      0      0    7.8958         1           0           0
..      ...   ...    ...    ...       ...       ...         ...         ...
861       2  21.0      1      0   11.5000         1           0           0
862       1  48.0      0      0   25.9292         0           0           0
863       3  28.0      8      2   69.5500         0           0           0
864       2  24.0      0      0   13.0000         1           0           0
865       2  42.0      0      0   13.0000         0           0           0
866       2  27.0      1      0   13.8583         0           1           0
867       1  31.0      0      0   50.4958         1           0           0
868       3  28.0      0      0    9.5000         1           0           0
869       3   4.0      1      1   11.1333         1           0           0
870       3  26.0      0      0    7.8958         1           0           0
871       1  47.0      1      1   52.5542         0           0           0
872       1  33.0      0      0    5.0000         1           0           0
873       3  47.0      0      0    9.0000         1           0           0
874       2  28.0      1      0   24.0000         0           1           0
875       3  15.0      0      0    7.2250         0           1           0
876       3  20.0      0      0    9.8458         1           0           0
877       3  19.0      0      0    7.8958         1           0           0
878       3  28.0      0      0    7.8958         1           0           0
879       1  56.0      0      1   83.1583         0           1           0
880       2  25.0      0      1   26.0000         0           0           0
881       3  33.0      0      0    7.8958         1           0           0
882       3  22.0      0      0   10.5167         0           0           0
883       2  28.0      0      0   10.5000         1           0           0
884       3  25.0      0      0    7.0500         1           0           0
885       3  39.0      0      5   29.1250         0           0           1
886       2  27.0      0      0   13.0000         1           0           0
887       1  19.0      0      0   30.0000         0           0           0
888       3  28.0      1      2   23.4500         0           0           0
889       1  26.0      0      0   30.0000         1           1           0
890       3  32.0      0      0    7.7500         1           0           1

[891 rows x 8 columns]

In [220]:
from sklearn.model_selection import train_test_split

In [221]:
x_train, x_test, y_train, y_test = train_test_split(x_train, y_train, test_size=0.1)

In [222]:
x_train.shape

(801, 8)

In [223]:
x_test.shape

(90, 8)

In [224]:
x_train.shape

(801, 8)

In [225]:
from sklearn.ensemble import RandomForestClassifier as RandomForest

In [226]:
model = RandomForest(n_estimators=100)
model.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [227]:
model.score(x_test, y_test)

0.8333333333333334

In [228]:
importances = model.feature_importances_

In [229]:
print(importances)

[0.08385299 0.25808586 0.04770332 0.04176508 0.28092328 0.25441142
 0.02084529 0.01241276]

In [134]:
from sklearn.model_selection import GridSearchCV

In [135]:
param = {
    'n_estimators': [1000, 100, 10, 1],
}
gscv = GridSearchCV(RandomForest(), param, cv=5)
gscv.fit(x_train, y_train)
gscv.best_estimator_

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [233]:
model = RandomForest(n_estimators=100)
model.fit(x_train, y_train)
model.score(x_test, y_test)

0.8444444444444444

In [236]:
test = pd.read_csv('./data/test.csv')
test['Age'] = test['Age'].fillna(test['Age'].median())
test['Embarked'] = test['Embarked'].fillna('S')
test['Fare'] = test['Fare'].fillna(test['Fare'].median())

test = pd.get_dummies(test, columns=['Sex', 'Embarked'])

x_test = test[ ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Sex_male', 'Embarked_C', 'Embarked_Q']]

print(x_test.info())

# scaler = StandardScaler()
# x_test = scaler.fit_transform(x_test)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
Pclass        418 non-null int64
Age           418 non-null float64
SibSp         418 non-null int64
Parch         418 non-null int64
Fare          418 non-null float64
Sex_male      418 non-null uint8
Embarked_C    418 non-null uint8
Embarked_Q    418 non-null uint8
dtypes: float64(2), int64(3), uint8(3)
memory usage: 17.6 KB
None

In [237]:
x_test

     Pclass   Age  SibSp  Parch      Fare  Sex_male  Embarked_C  Embarked_Q
0         3  34.5      0      0    7.8292         1           0           1
1         3  47.0      1      0    7.0000         0           0           0
2         2  62.0      0      0    9.6875         1           0           1
3         3  27.0      0      0    8.6625         1           0           0
4         3  22.0      1      1   12.2875         0           0           0
5         3  14.0      0      0    9.2250         1           0           0
6         3  30.0      0      0    7.6292         0           0           1
7         2  26.0      1      1   29.0000         1           0           0
8         3  18.0      0      0    7.2292         0           1           0
9         3  21.0      2      0   24.1500         1           0           0
10        3  27.0      0      0    7.8958         1           0           0
11        1  46.0      0      0   26.0000         1           0           0
12        1  23.0      1      0   82.2667         0           0           0
13        2  63.0      1      0   26.0000         1           0           0
14        1  47.0      1      0   61.1750         0           0           0
15        2  24.0      1      0   27.7208         0           1           0
16        2  35.0      0      0   12.3500         1           0           1
17        3  21.0      0      0    7.2250         1           1           0
18        3  27.0      1      0    7.9250         0           0           0
19        3  45.0      0      0    7.2250         0           1           0
20        1  55.0      1      0   59.4000         1           1           0
21        3   9.0      0      1    3.1708         1           0           0
22        1  27.0      0      0   31.6833         0           0           0
23        1  21.0      0      1   61.3792         1           1           0
24        1  48.0      1      3  262.3750         0           1           0
25        3  50.0      1      0   14.5000         1           0           0
26        1  22.0      0      1   61.9792         0           1           0
27        3  22.5      0      0    7.2250         1           1           0
28        1  41.0      0      0   30.5000         1           0           0
29        3  27.0      2      0   21.6792         1           1           0
..      ...   ...    ...    ...       ...       ...         ...         ...
388       3  21.0      0      0    7.7500         1           0           1
389       3   6.0      3      1   21.0750         1           0           0
390       1  23.0      0      0   93.5000         1           0           0
391       1  51.0      0      1   39.4000         0           0           0
392       3  13.0      0      2   20.2500         1           0           0
393       2  47.0      0      0   10.5000         1           0           0
394       3  29.0      3      1   22.0250         1           0           0
395       1  18.0      1      0   60.0000         0           0           0
396       3  24.0      0      0    7.2500         1           0           1
397       1  48.0      1      1   79.2000         0           1           0
398       3  22.0      0      0    7.7750         1           0           0
399       3  31.0      0      0    7.7333         1           0           1
400       1  30.0      0      0  164.8667         0           0           0
401       2  38.0      1      0   21.0000         1           0           0
402       1  22.0      0      1   59.4000         0           1           0
403       1  17.0      0      0   47.1000         1           0           0
404       1  43.0      1      0   27.7208         1           1           0
405       2  20.0      0      0   13.8625         1           1           0
406       2  23.0      1      0   10.5000         1           0           0
407       1  50.0      1      1  211.5000         1           1           0
408       3  27.0      0      0    7.7208         0           0           1
409       3   3.0      1      1   13.7750         0           0           0
410       3  27.0      0      0    7.7500         0           0           1
411       1  37.0      1      0   90.0000         0           0           1
412       3  28.0      0      0    7.7750         0           0           0
413       3  27.0      0      0    8.0500         1           0           0
414       1  39.0      0      0  108.9000         0           1           0
415       3  38.5      0      0    7.2500         1           0           0
416       3  27.0      0      0    8.0500         1           0           0
417       3  27.0      1      1   22.3583         1           1           0

[418 rows x 8 columns]

In [238]:
pr = model.predict(x_test.values)

In [239]:
import numpy as np

In [240]:
p_id = np.array(test["PassengerId"]).astype(int)

ans = pd.DataFrame(pr, p_id, columns = ["Survived"])

ans.to_csv('ans_randomforest.csv', index_label=['PassengerId'])